{% extends 'layout.html' %}
{% load static %}

{% block body %}
<style>
    form{
        background-color: white;
        width: 550px;
    }
    .btn[type="submit"]{
        background-color: #008dde;
            border: none;
            border-radius: 3px;
            color: #f4f4f4;
            cursor: pointer;
            height: 40px;
            text-transform: uppercase;
            margin-left: 10%;
    }
    .form-a { 
        color: #5a5656;
        font-size: 12px;
        text-decoration: underline;
    }
    strong {
            font-weight: bold;
    }
</style>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}<br>
    <button class="btn" type="submit">Sign-up</button><br><br>
     <a class="form-a" href="/login">Already a User?<strong>Login</strong></a><br><br><br>
</form>
<br>

{% endblock body %}